
/* shame on you, code yourself man..*/

html,body, #section1{
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
	background-color:#607D8B;
	overflow:hidden;
	font-family: "Myriad Pro", Arial, serif;
}
#skew_green{
	position:absolute;
	background-color:#009688;
	height:100%;
	width:70%;
	transition:all 2.5s;
	transform:skewX(-45deg);
	box-shadow:0 0 10px 2px #000;
}
#skew_blue{
	position:absolute;
	background-color:#3F51B5;
	height:100%;
	width:70%;
	transition:all 2s;
	transform:skewX(-45deg);
	box-shadow:0 0 10px 2px #000;
}
#skew_black{
	position:relative;
	background-color:rgba(41,41,41,1.00);
	height:100%;
	width:70%;
	transition:all 1s;
	transform:skewX(-45deg);
	box-shadow:0 0 10px 2px #000;
}
#overlay{	
position:fixed;
font-size:40px;
left: 50px;
position:absolute;
bottom:0;
color:#FFF;
z-index: 2000;
}
.skew_items{
	padding: 2% 2%;
	color:#FFF;
}
.skew_items h1{
	margin:0;
	font-size:52px;
	font-weight:300;
	transition:all 1s;
}	
.index{
	position:absolute;
	right: -10%;
	top:125%;
	font-size: 130%;
	text-align:left;
}
.hr_line{
	position:relative;
	background-color:#FFF;
	height:0.3%;
	width:100%;
}
.tilt_text{
    color: #FFF;
    padding: 1% 0 0 2%;
    margin: 0;
}
